@media ( max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 600px
  .booking
    width: 340px
  .map
    width: 340px
@media ( max-width: 992px)
  .container
    max-width: 700px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin: auto
    &-menu
      padding: 22.5px 0
      &__link
        font-size: 12px
        line-height: 15px
  .logo
    width: 135px
  .search
    width: 340px
  .slider
    width: 100%
    margin-bottom: 30px
  .booking-wrap
    width: 100%
    flex-direction: row
@media ( max-width: 767px)
  .container
    max-width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      padding: 0
      width: 16px
      height: 11px
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    padding-top: 5px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__descr
        max-width: 280px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .slider
    height: 350px
    margin-bottom: 20px
  .booking
    width: 100%
    margin-bottom: 20px
    &-wrap
      flex-wrap: wrap
  .map
    width: 100%
@media ( max-width: 576px)
  .logo
    width: 99px
@media ( max-width: 480px)
  .slider
    height: 179px
  .map
    height: 172px
  
  
