@media ( max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 600px
  .booking
    width: 340px
  .map
    width: 340px
  .card
    width: 230px
    height: 230px
@media ( max-width: 992px)
  .hotel
    padding-bottom: 60px
    &-slider
      width: 100%
      margin-bottom: 30px
  .container, .newsletter-wrapper
    max-width: 700px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin: auto
    &-menu
      padding: 22.5px 0
      &__link
        font-size: 12px
        line-height: 15px
  .logo
    width: 135px
  .search
    width: 340px
  .booking-wrap
    width: 100%
    flex-direction: row
  .reviews
    &-slider
      &__item
        max-width: 580px
  .activities
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
    &__card
      width: 340px
      height: 255px
      margin-bottom: 20px
@media ( max-width: 767px)
  .hotel
    padding-bottom: 40px
    &-slider
      height: 350px
      margin-bottom: 20px
  .container
    max-width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      padding: 0
      width: 16px
      height: 11px
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    padding-top: 5px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__descr
        max-width: 280px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .booking
    width: 100%
    margin-bottom: 20px
    &-wrap
      flex-wrap: wrap
  .map
    width: 100%
  .newsletter
    &-wrapper
      width: 92%
      flex-direction: column
      align-items: flex-start
    &-title
      margin-bottom: 37px
  .reviews
    padding-bottom: 60px
    &-slider
      &__item
        padding: 0 30px 36px 30px
        &::after, &::before
          display: none
      &__button
        top: 31px
        &--prev
          left: 50%
          margin-left: -90px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -90px
          transform: translate(50%, 0)
  .card
    width: 48%
@media ( max-width: 576px)
  .logo
    width: 99px
  .reviews
    padding-bottom: 0
  .activities
    padding-top: 0
    padding-bottom: 60px
    &__title
      margin-bottom: 36px
      font-size: 18px
      line-height: 23px
  .card
    width: 100%
@media ( max-width: 480px)
  .hotel
    &-slider
      height: 179px
  .map
    height: 172px
  .newsletter
    padding: 76px 0 83px 0
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
  .reviews
    &__title
      max-width: 245px
      margin-left: auto
      margin-right: auto
      margin-bottom: 42px
      font-size: 18px
      line-height: 23px



